.ul {
  width: 450px;
  padding: 0;
  position: relative;
  max-height: 500px;
  overflow: auto;
}

.th {
  height: 40px;
  line-height: 40px;
  background: #fff;
  border-bottom: 1px solid #f0f0f0;
  display: flex;

  span:nth-of-type(1) {
    width: 140px;
    text-align: center;
  }

  .fresh {
    width: 100px;
    text-align: center;
  }

  .state {
    flex: 1;
    text-align: center;
  }

  .action {
    flex: 1;
    text-align: center;
  }
}

.li {
  border-bottom: 1px solid #f0f0f0;
  list-style: none;
  background: #fff;
  padding: 10px 0 10px 20px;
  position: relative;
  display: flex;
  align-items: center;

  .gcName {
    width: 60px;
  }

  .info {
    // margin-left: 15px;
    width: 100px;
    text-align: center;
  }

  img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }

  a {
    flex: 1;
    text-align: center;
  }

  .action {
    flex: 1;
    text-align: center;
  }

  .state {
    flex: 1;
    text-align: center;
  }
}

.header {
  width: 450px;
  height: 40px;
  line-height: 40px;
  background: #fff;
  border-bottom: 1px solid #f0f0f0;
  padding: 0 20px;
}



.test {}